$prefix: ki-editor;

$color-base: #61646e;
$border-base: #dedede;
$bg-base: #fff;
$bg-wrapper: #ebebeb;
$bg-wrapper-line: #e9e9e9;
$bg-writting: #fff;
$bg-scrollbar-track: #f5f5f5;
$bg-scrollbar-thumb: #c2c2c2;

.#{$prefix}-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 6px;
  min-height: 400px;
  background-color: $bg-wrapper;
  background-image: linear-gradient(90deg, $bg-wrapper-line 8%, transparent 8%),
    linear-gradient($bg-wrapper-line 8%, transparent 8%);
  background-size: 12px 12px;

  &-content {
    flex: 1;
    margin-top: 12px;
    display: flex;
    gap: 8px;
  }

  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $bg-scrollbar-thumb;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track {
    background-color: $bg-scrollbar-track;
  }
}

.#{$prefix}-toolbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid $border-base;
  border-radius: 4px;
  height: 32px;
  padding: 4px 12px;

  &-left {
    color: red;
  }

  &-right {
    display: flex;
  }
}

.#{$prefix}-writting {
  flex: 1;
  background-color: $bg-writting;
  border-radius: 4px;

  &-textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
  }
}

.#{$prefix}-viewer {
  flex: 1;
  background-color: $bg-writting;
  border-radius: 4px;
  border-left: 1px solid $border-base;
}

.#{$prefix}-tooltip {
}
